<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LNLineChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A395A4481EE651DD002B13C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A395A4611EE651DD002B13C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A395A46C1EE651DD002B13C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
